.categories-container {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mega-anchor {
    display: block;
    //height: 150px;
    width: 100%;
    height: 215px;

}

.newscategory {
    padding: 15px;
    margin: 15px;
    width: calc(50% - 30px);
    /*heigh: 100%;*/
    overflow: hidden;
    background-color: #fff;
}

@media (max-width: 991px) {
    .newscategory {
        padding: 15px;
        margin: 15px;
        width: 590px;
        /*heigh: 100%;*/
        overflow: hidden;
        background-color: #fff;
    }
}

a {
    color: #636b6f;
}

a:hover {
    text-decoration: none;

}

.newscategory:hover {
    box-shadow: 4px 4px 10px 2px rgba(50, 50, 50, 0.43);

}

.newscategory:hover h5 {
    color: darkred;
    text-decoration: none;
}

.newscategory p {
    heigh: 150px;
    overflow: hidden;
    font-style: italic;
    color: #999;
    font-size: small;
}


