.user_login {
    width: 400px;
    background-color: #fff;
    position: fixed;
    border-radius: 1em;
    padding: 1em;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.blocker {
    background-color: rgba(50,50,50,0.7);
    position:fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    z-index: 18;
}

.controls {
    margin: 15px 0 0 0;
    display:flex;
    justify-content: space-around;
}
