body {
    background-color: #aaa;
    background: url("/img/background4.jpg");
    background-size: cover;
    backdrop-filter: opacity(150%);
}

.subheader {
    /*background: rgba(255,255,230,0.8) url("/img/background4.jpg") ;*/
    /*  background-blend-mode: luminosity;*/
    /*background-size: cover;*/
    padding: 5px 25px 5px 20px;
    background-color: rgba(120, 120, 120, 0.8);
    min-height: 100px;
    display: flex;
    justify-content: space-between;
}

.user-div {

}


.main-logo-img {
    border-radius: 70px;
    filter: grayscale(50%);
}

.user-img {
    height: 75px;
    width: 75px;
    border-radius: 37px;
}

.user-link {
    display: inline-block;
    color: #ffffff;
    margin: 0 10px;
}

.content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    min-height: 50vh;
}

footer {
    color: #333;
    background-color: rgba(120, 120, 120, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: #fff;
}


.about-panel, .latest-news-panel {
    margin-right: 15px;
    padding: 15px;
    background-color: #fff;
    height: 100%;
}

section {
    padding-top: 15px;
    font-size: small;
    font-style: italic;
}

a {
    color: darkmagenta;
}

a:hover {
    text-decoration: none;
    color: darkred;
    /*font-weight: 800;*/
}


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-nav {
    width: 210px;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-top: 25px;
}


.content {
    width: calc(100% - 210px);
}

@media (max-width: 953px) {
    .left-nav {
        display: none;
    }

    .content {
        width: 100%;
    }
}

.article-header {
    color: #830536;
}

a > .article-header:hover {
    color: #c51f1a;
}

.current-menu {
    font-weight: 700;
    color: maroon;
    text-decoration: underline;
}


.pagination > li > a,
.pagination > li > span {
    color: #555; // use your own color here
    background-color: #fff;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #550a17 !important;
    border-color: #ccc !important;
}

.front-page-img {
    height: 100px;
    width: 100px;
    float:left;
    object-fit: contain;
    margin-right: 15px;
}

.clear-div {
    clear: both;
}
