$clr-body-bg: #eee;

$clr-header-bg: #010140;
$clr-header: white;
$clr-header-link-hover: darkorange;
$clr-header-link-disabled: darkgray;

$clr-bg: white;
$clr-link-color: black;
$clr-link-hover: darkorange;
$clr-link-disabled: darkgray;

$clr-brd: #8f8f8f;
