body {
  background: url("/img/background-admin.png");
  background-repeat: repeat;
  -webkit-backdrop-filter: grayscale(70%);
  backdrop-filter: grayscale(120%) brightness(50%);
}

.dashboard-block {
  margin: 15px;
  padding: 15px;
  background-color: #fff;
}

.content {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
}

#app {
  max-width: 1200px;
  margin: 25px auto;
}

.current-menu {
  font-weight: 700;
  color: maroon;
  text-decoration: underline;
}

.source-container {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mega-anchor {
  display: block;
}

.source-card {
  padding: 15px;
  margin: 15px;
  width: calc(50% - 30px);
  /*heigh: 100%;*/
  overflow: hidden;
  background-color: #fff;
}

@media (max-width: 991px) {
  .newscategory {
    padding: 15px;
    margin: 15px;
    width: 590px;
    /*heigh: 100%;*/
    overflow: hidden;
    background-color: #fff;
  }
}

a {
  color: #636b6f;
}

a:hover {
  text-decoration: none;
}

.source-card:hover {
  box-shadow: 4px 4px 10px 2px rgba(50, 50, 50, 0.43);
}

.source-card:hover h5 {
  color: darkred;
  text-decoration: none;
}

.source-card p {
  heigh: 150px;
  overflow: hidden;
  font-style: italic;
  color: #999;
  font-size: small;
}

.categories-container {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.mega-anchor {
  display: block;
}

.newscategory {
  padding: 15px;
  margin: 15px;
  width: calc(50% - 30px);
  /*heigh: 100%;*/
  overflow: hidden;
  background-color: #fff;
}

@media (max-width: 991px) {
  .newscategory {
    padding: 15px;
    margin: 15px;
    width: 100%;
    /*heigh: 100%;*/
    overflow: hidden;
    background-color: #fff;
  }
}

a {
  color: #636b6f;
}

a:hover {
  text-decoration: none;
}

.newscategory:hover {
  box-shadow: 4px 4px 10px 2px rgba(50, 50, 50, 0.43);
}

.newscategory:hover h5 {
  color: darkred;
  text-decoration: none;
}

.newscategory p {
  heigh: 150px;
  overflow: hidden;
  font-style: italic;
  color: #999;
  font-size: small;
}

.category-control-block {
  text-align: right;
  border-top: 1px solid #ccc;
}

.news-container {
  background-color: #ffffff;
  margin: 25px;
  padding: 15px;
}

.article-box {
  margin-top: 25px;
  border-bottom: 1px dashed #ccc;
  display: flex;
  justify-content: space-between;
}

.article-main-block {
  /*width:80%;*/
}

.article-control-block {
  width: 100px;
  padding-top: 30px;
}

.article-control-link {
  height: 24px;
  color: gray;
  text-align: left;
}

.ordering-block {
  height: 25px;
}

.ordering-block div {
  float: right;
}

.article-container {
  background-color: #fff;
  padding: 25px;
  margin: 15px auto;
  max-width: 800px;
}

