.news-container {
    background-color: #ffffff;
    margin:25px;
    padding: 15px;
}

.article-box {
    margin-top:25px;
    border-top: 1px dashed #ccc;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-height: 300px;
}

.article-main-block {
    width:80%;
    padding: 25px;
    overflow: hidden;
    max-height: 300px;
}

.article-box:hover {
    background-color: #efefef;
    .article-illustration {
        filter: grayscale(0);
    }
}

.article-control-block {
    width: 100px;
    padding-top:30px;
}

.article-control-link {
    //display: block;
    //width: 95px;
    height:24px;
    color: gray;
    text-align: left;
}
.ordering-block {
    height: 25px;
}

.ordering-block div {
    float: right ;
}
