body {
    background: url('/img/background-admin.png');
    background-repeat: repeat;
    -webkit-backdrop-filter: grayscale(70%);
    backdrop-filter: grayscale(120%) brightness(50%);
}

.dashboard-block {
    margin: 15px;
    padding: 15px;
    background-color: #fff;
}

.content {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
}

#app {
    max-width: 1200px;
    margin: 25px auto;
}

.current-menu {
    font-weight: 700;
    color: maroon;
    text-decoration: underline;
}

.pagination > li > a,
.pagination > li > span {
    color: #555; // use your own color here
    background-color: #fff;
}

.pagination {
    margin: 15px auto;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #555 !important;
    border-color: #ccc !important;
}

//
//.page .active> .page-link {
//    background-color: #555;
//    border-color: #ccc;
//}
