body {
    background: url('/img/background-admin.png');
    background-repeat: repeat;
    -webkit-backdrop-filter: grayscale(70%);
    backdrop-filter: grayscale(120%) brightness(50%);
}

.dashboard-block {
    margin: 15px;
    padding: 15px;
    background-color: #fff;
}

.content {
    background-color: rgba(255,255,255,0.5);
}

#app {
    width: 1300px;
    margin: 0 auto;
}
.current-menu {
    font-weight: 700;
    color: maroon;
    text-decoration: underline;
}
